@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
.right-part{
    display:flex;
    flex-direction: column;
    position: relative;
    height: 117px;
    width: 306px;
    background-color: white;
    margin: 24px 0 0 24px;
    border-radius: 10px;
    border: 1.5px solid;
    border-color: rgb(217, 217, 217);
}
.right-part1{
    display:flex;
    flex-direction:column;
}
.text-and-question{
    display: flex;
    flex-direction: row;
    position: relative;
}
.edit-public-profile-text,
.add-profile-in-another-language-text{
    font-family: Roboto, Arial;
    font-size: 16px;
    color: rgb(115, 115, 115);
    padding: 18px 0 0 14px;
    cursor: pointer;
}
.add-profile-in-another-language-text{
    padding: 0px 0 0 14px;
}
.edit-public-profile-text:hover,
.add-profile-in-another-language-text:hover{
    text-decoration: underline;
    text-decoration-color: rgb(10, 102, 194);
}
.question-mark,
.question-mark1{
    height: 16px;
    width: 16px;
    margin: 20px 0 0 80px;
    border-radius: 8px;
    border:none;
    outline: none;
    background-color: rgb(102, 102, 102);
    align-items:center;
}
.question-mark-text,
.question-mark-text1{
    text-align: center;
    color: white;
    font-weight: 700;
    margin-left: -2px;

}
.question-mark1{
    margin: 1px 0 0 30px;
}
.question-mark-text1{
    margin-left: -3px;
}
.line-between{
    height: 1px;
    width: 274px;
    background-color: rgb(242, 242, 242);
    margin: 17px 0 17px 14px;
}
.right-part2{
    display:flex;
    flex-direction: column;
    margin-top: 40px;
    height: 250px;
    width: 306px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    border: 1.5px solid;
    border-color: rgb(217, 217, 217);
}
.ad{
    font-family: Roboto, Arial;
    font-size: 14px;
    padding: 5px 0 0 250px;
}
.linkedin-premium-text{
    font-family: Roboto, Arial;
    font-size: 12px;
    color: gray;
    padding: 5px 0 0 35px;
    max-width: 250px;
}
.linkedin-premium-text span{
    display: block;
    text-align: center;
}
.profile-key-photos{
    display:flex;
    flex-direction: row;
}
.ad-profile-photo,
.ad-key-photo{
    height: 76px;
    width: 76px;
    margin: 5px 0 0 50px;
    border-radius: 40px;
}
.ad-key-photo{
    margin: 0 0 0 20px;
}
.profile-views-text{
    font-family: Roboto, Arial;
    font-size: 15px;
    padding: 10px 0 0 25px;
    font-weight: 300;
    max-width: 270px;
}
.profile-views-text span{
    display: block;
    text-align: center;
}
.try-for-free-button{
    width: 105px;
    height: 40px;
    align-items: center;
    margin: 10px 0 0 110px;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(10, 102, 194);
    cursor: pointer;
}
.try-for-free-text{
    font-family: Roboto, Arial;
    font-size: 14px;
    color:rgb(10, 102, 194);
}