@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
.page{
    display: flex;
    flex-direction: row;
}
.left-part{
    display:flex;
    flex-direction: column;
}
.left-part1,
.left-part2,
.left-part3,
.left-part4,
.left-part5,
.left-part6,
.left-part7,
.left-part8,
.left-part9{
    display: flex;
    flex-direction: column;
    width: 782px;
    margin: 24px 0 0 204px;
    height: 543px;
    background-color: white;
    border-radius: 15px;
}
.background-photo{
    width: 782px;
    height: 195px;
}
.profile-photo{
    width: 152px;
    margin: -100px 0 0 24px;
    border-radius: 80px;
    border: 4px solid white;
    z-index: 100;
}
.name-and-university{
    display: flex;
    flex-direction: row;
}
.name{
    font-family: Roboto, Arial;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 0 24px;

}
.university-photo{
    height: 32px;
    margin: 10px 8px 0 383px;
    cursor: pointer;
}
.university-name{
    font-family: Roboto, Arial;
    font-size: 14px;
    margin: -28px 0 0 430px;
    cursor:pointer;
}
.description{
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0 0 24px;
}
.city-adress,
.contact-info,
.connections,
.connections1{
    font-family: Roboto, Arial;
    font-size: 14px;
    margin: 7px 0 0 24px;
    color: rgb(153, 153, 153);
    font-weight: 300;
}
.contact-info,
.connections,
.connections1{
    margin: 3px 0 0 24px;
    color: rgb(10, 102, 194);
    font-weight: 500;
    cursor:pointer;

}
.contact-info:hover,
.connections:hover,
.connections1:hover{
    text-decoration: underline;
}
.connections{
    margin: 7px 0 0 24px;
}
.three-buttons{
    display: flex;
    flex-direction: row;
}
.open-to{
    height: 32px;
    width: 91px;
    margin: 10px 0 0 24px;
    border-radius: 16px;
    background-color: rgb(10, 102, 194);
    border:none;
    outline: none;
    cursor:pointer;
}
.open-to:hover{
    background-color: rgb(8, 77, 145);

}
.open-to-text,
.add-profile-text,
.more-text,
.start-a-post-text{
    font-family: Roboto, Arial;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.add-profile{
    height: 32px;
    width: 170px;
    margin: 10px 0 0 8px;
    background-color: white;
    border-radius: 16px;
    border: 1.5px solid;
    border-color: rgb(10, 102, 194);
    cursor:pointer;
}
.add-profile:hover,
.start-a-post-button:hover{
    border: 2px solid;
    background-color: rgb(206, 230, 253);
    border-color: rgb(10, 102, 194);
}
.add-profile-text,
.start-a-post-text{
    color: rgb(10, 102, 194);
}
.more-button{
    height: 32px;
    width: 70px;
    margin: 10px 0 0 8px;
    border-radius: 16px;
    border: 1.5px solid;
    border-color: rgb(140, 140, 140);
    cursor: pointer;
}
.more-button:hover{
    border: 2px solid;
    border-color: rgb(102, 102, 102);
    background-color: rgb(230, 230, 230);
}
.more-text{
    color: rgb(140, 140, 140);
    font-weight: 400;
}
.open-to-work{
    margin: 30px 0 0 24px;
    width: 432px;
    height: 64.5px;
    background-color: rgb(255, 249, 230);

}
.open-to-work-text,
.roles-text,
.details-text{
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0 0 12px;
    cursor: pointer;
}
.roles-text{
    font-weight: 300;
    padding: 0 0 0 12px;
}
.details-text{
    color: rgb(10, 102, 194);
    padding: 0 0 0 12px;
}
.details-text:hover{
    text-decoration: underline;
}
.left-part2{
    height: 167px;
    margin: 8px 0 0 204px;

}
.analytics-text{
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0 0 32px;

}
.eye-private{
    display:flex;
    flex-display: row;
}
.eye-icon{
    width: 20px;
    height: 20px;
    padding: 0 0 0 32px;
}
.private-to-you-text{
    font-family: Roboto, Arial;
    font-size: 14px;
    color: gray;
    font-weight: 300;
    padding: 0 0 0 1.5px;
}
.three-analytics{
    display:flex;
    flex-direction: row;
}
.profile-views-icon,
.post-impressions-icon,
.endorsement-icon{
    width: 24px;
    height: 24px;
    padding: 10px 0 0 30px;
}
.profile-views-tab,
.post-impressions-tab,
.search-appearances-tab{
    display:flex;
    flex-direction: column;
}
.profile-views,
.post-impressions,
.search-appearances{
    font-family: Roboto, Arial;
    font-size: 16px;
    margin: 13px 0 0 7px;
    font-weight: 500;
}
.profile-views-description,
.post-impressions-description,
.search-appearances-description,
.youtube-job-duration{
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 400;
    color: rgb(77, 77, 77);
    margin: 2px 0 0 8px;
    max-width: 200px;
}
.search-appearances-icon{
     width: 20px;
    height: 20px;
    padding: 10px 0 0 30px;
}
.left-part3{
    height: 412px;
    margin: 8px 0 0 204px;

}
.creator-mode,
.my-network{
    display:flex;
    flex-direction: row;
}
.my-network-together{
    display:flex;
    flex-direction: column;
}
.creator-mode-icon,
.my-network-icon,
.youtube-icon{
    width: 33px;
    height: 30px;
    padding: 10px 0 0 27px;
}
.creator-mode-text,
.my-network-text,
.youtube-text{
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 17px 0 0 7px;
}
.creator-mode-off{
    display: flex;
    flex-direction: column;
}
.creator-mode-off-button{
    width: max-content;
    margin: 17px 0 0 7px;
    background-color: rgb(230, 230, 230);
    border: none;
    underline: none;
}
.creator-mode-description,
.my-network-description,
.youtube-job-duration,
.job-description,
.skills-description{
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 0 -97px;
}
.my-network-description,
.youtube-job-duration,
.job-description,
.skills-description{
    margin: 5px 0 0 7px;
}
.left-part4{
    height: 134px;
    margin: 8px 0 0 204px;

}
.about-description{
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 300;
    margin: 30px 0 0 32px;
}
.left-part5{
    height: 174.5px;
    margin: 8px 0 0 204px;

}
.activity-and-button{
    display:flex;
    flex-direction: row;
}
.start-a-post-button,
.demonstrate-button{
    margin: 30px 0 0 550px;
    width: 116px;
    height: 32px;
    background-color: white;
    border-radius: 16px;
    border: 1.5px solid;
    border-color: rgb(10, 102, 194);
    cursor:pointer;
}
.connections1{
    margin: -8px 0 0 32px;
}
.below-activity-title{
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0 0 32px;
}
.activity-description,
.endorsement{
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 0 32px;
}
.show-all-activity-text{
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 500;
    color: rgb(140, 140, 140);
    margin-top: -20px;
    display: block;
    text-align: center;
}
.line-between1{
    height: 1px;
    width: 100%;
    background-color: rgb(242, 242, 242);
    margin: 17px 0 17px 0;
}
.left-part6{
    height: 664px;
    margin: 8px 0 0 204px;
}
.youtube-text{
    margin: -5px 0 0 0px;
}
.youtube-icon{
    height: 45px;
    width: 48px;
}
.youtube-job-duration{
    color: gray;
    font-weight: 300;
    max-width: 600px;
}
.job-description{
    margin-top: 17px;
    max-width: 650px;
}
.skills-description{
    margin-top: 10px;
}
.left-part7{
    height: 160px;
    margin: 8px 0 0 204px;

}
.left-part8{
    height: 180px;
    margin: 8px 0 0 204px;
}
.left-part9{
    height: 1060px;
    margin: 8px 0 0 204px;
}
.demonstrate-button{
    width: 166px;
    margin: 30px 0 0 500px;
}
.endorsement-row{
    display: flex;
    flex-direction: row;
}
.endorsement{
    margin: 15px 0 0 10px;
}