.home-videos-shorts{
    display:flex;
    flex-direction:row;
    align-items: center;
    position:fixed;
    background-color: white;
    width: 1519.2px;
    z-index: 100;

  }
.underline{
    text-decoration: none;
    color: #0F0F0F;
  }
.home{
    font-family:Roboto, Arial;
    font-size; 14px;
    color: #606060;
    cursor: pointer;
    padding-right: 32px;
    padding-left: 32px;

  }
.home:active{
    color: #0F0F0F;
  }
.home:hover{
    color: #0F0F0F;
  }
.search{
    width: 24px;
    height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    cursor:pointer;
  }