.home-videos-shorts{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: white;
    width: 1330px;
    margin: 170px 0 0 180px;
    z-index: 100;
    position: fixed;

  }
.home-videos-shorts-row{
    display:flex;
    flex-direction: row;
}
.underline{
    text-decoration: none;
    color: #0F0F0F;
  }
.home{
    font-family:Roboto, Arial;
    font-size; 14px;
    color: #606060;
    cursor: pointer;
    padding-right: 32px;
    padding-left: 32px;

  }
.home:active{
    color: #0F0F0F;
  }
.home:hover{
    color: #0F0F0F;
  }
.search{
    width: 24px;
    height: 24px;
    padding: 13px 24px 0 24px;
    cursor:pointer;
  }
.underline-gray{
    background-color: rgb(191, 191, 191);
    height: 0.7px;
    z-index: 1;
    margin: -5px -670px 0 -650px;
    width: 1320px;
}