<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"

{% extends "base.html" %}
{% block content %}

        <div class="left-part-menu">
            <ul>
                <li><a id="home" href="/home">Početna stranica</a></li>
                <li><a id="omeni" href="/omeni">O meni&#9660;</a>
                    <ul class="dropdown">
                        <li><a id="cv" href="/cv">CV</a></li>
                        <li><a id="mpismo" href="/mpismo">Motivaciono pismo</a></li>
                        <li><a id="linkedin" href="/linkedin">Linkedin profil</a></li>
                        <li><a id="youtube" href="/youtube">Youtube profil</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right-part-menu">
            <ul>
                <li><a id="logout" href="/logout">Odjava</a></li>
            </ul>
        </div>
        </div>

{% endblock %}