<!doctype html >
<head>
    <title> Linkedin </title>
    <link rel="stylesheet" href="static/linkedin-css/linkedin-header.css">
    <link rel="stylesheet" href="static/linkedin-css/linkedin-left-part.css">
    <link rel="stylesheet" href="static/linkedin-css/linkedin-right-part.css">


</head>
<body>
    <div>
        <div class="header">
            <a href="http://127.0.0.1:5000/home">
                <div>
                <img class="back-home" src="static/linkedin-images/header-images/back-home-icon.png">
                </div>
            </a>
            <a href="https://www.linkedin.com/feed/">
              <div>
                <img class="linkedin-logo" src="static/linkedin-images/header-images/linkedin-logo.png">
              </div>
            </a>
            <div>
                <button class="search-button">
                    <img class="search-logo" src="static/linkedin-images/header-images/search-logo.png">
                </button>
            </div>
            <div>
                <input class="search-bar" type="text" placeholder="Search">
            </div>
            <div>
                <a href="https://www.linkedin.com/feed/">
                  <button class="home-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/home-logo.png">
                    <p class="home-text">Home</p>
                  </button>
                </a>

            </div>
            <div>
                <a href="https://www.linkedin.com/mynetwork/">
                   <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/my-network-logo.png">
                    <p class="home-text">My Network</p>
                   </button>
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/jobs/">
                  <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/jobs-logo.png">
                    <p class="home-text">Jobs</p>
                  </button>
                </a>

            </div>
            <div>
                <a href="https://www.linkedin.com/messaging/">
                   <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/messaging-logo.jpg">
                    <p class="home-text">Messaging</p>
                   </button>
                </a>

            </div>
            <div>
                <a href="https://www.linkedin.com/notifications/">
                    <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/notifications-logo.png">
                    <p class="home-text">Notifications</p>
                    </button>
                </a>

            </div>
            <div>
                    <button class="network-button1">
                    <img class="me-logo" src="static/linkedin-images/header-images/profile-photo.jfif">
                        <button class="home-text1">Me &#x25BC;</button>

                    </button>
            </div>
            <div>
                <button class="work-button">
                    <img class="home-logo1" src="static/linkedin-images/header-images/work-logo.png">
                    <p class="home-text">Work &#x25BC;</p>
                </button>
            </div>
            <div>
                <a href="https://www.linkedin.com/premium/survey/">
                    <button class="work-button">
                        <p class="premium-text">Get hired faster, Try Premium free</p>
                    </button>
                </a>

            </div>


        </div>
        <div class="page">
            <div class="left-part">
                <div class="left-part1">
                    <img class="background-photo" src="static/linkedin-images/left-part-images/background-photo.jfif">
                    <img class="profile-photo" src="static/linkedin-images/left-part-images/profile-photo.jfif">
                    <div class="name-and-university">
                        <div class="name">
                           Emir Alić
                        </div>
                        <div class="university">
                            <img class="university-photo" src="static/linkedin-images/left-part-images/university-logo.png">
                            <div class="university-name">
                                Univerzitet u Tuzli
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        Final-year Mechanical Engineering student
                    </div>
                    <div class="city-adress">
                        Tuzla, Federation of Bosnia and Herzegovina, Bosnia and Herzegovina
                    </div>
                    <div class="contact-info">
                        Contact info
                    </div>
                    <div class="connections">
                        185 connections
                    </div>
                    <div class="three-buttons">
                        <button class="open-to">
                           <div class="open-to-text">
                               Open to
                           </div>
                        </button>
                        <button class="add-profile">
                            <div class="add-profile-text">
                                Add profile section
                            </div>
                        </button>
                        <button class="more-button">
                            <div class="more-text">
                                More
                            </div>
                        </button>
                    </div>
                    <div class="open-to-work">
                        <div class="open-to-work-text">
                            Open to work
                        </div>
                        <div class="roles-text">
                            Mechanical Engineer and Computer Aided Design Designer roles
                        </div>
                        <div class="details-text">
                            See all details
                        </div>
                    </div>
                </div>
                <div class="left-part2">
                    <div class="analytics-text">
                        Analytics
                    </div>
                    <div class="eye-private">
                        <img class="eye-icon" src="static/linkedin-images/left-part-images/eye-icon.png">
                        <div class="private-to-you-text">
                            Private to you
                        </div>
                    </div>
                    <div class="three-analytics">
                        <img class="profile-views-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                        <div class="profile-views-tab">
                            <div class="profile-views">
                                7 profile views
                            </div>
                            <div class="profile-views-description">
                                Discover who's viewed your profile.
                            </div>
                        </div>
                        <img class="post-impressions-icon" src="static/linkedin-images/left-part-images/post-impressions-icon.png">
                        <div class="post-impressions-tab">
                            <div class="post-impressions">
                                1,944 post impressions
                            </div>
                            <div class="post-impressions-description">
                                Check out who's engaging with your posts.
                            </div>
                        </div>
                        <img class="search-appearances-icon" src="static/linkedin-images/left-part-images/search-appearance-icon.png">
                        <div class="search-appearances-tab">
                            <div class="search-appearances">
                                8 search appearances
                            </div>
                            <div class="search-appearances-description">
                                See how often you appear in search results.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-part3">
                    <div class="analytics-text">
                        Resources
                    </div>
                    <div class="eye-private">
                        <img class="eye-icon" src="static/linkedin-images/left-part-images/eye-icon.png">
                        <div class="private-to-you-text">
                            Private to you
                        </div>
                    </div>
                    <div class="creator-mode">
                      <img class="creator-mode-icon" src="static/linkedin-images/left-part-images/creator-mode-icon.png">
                      <div class="creator-mode-text">
                          Creator mode
                      </div>
                      <div class="creator-mode-off">
                          <button class="creator-mode-off-button">
                              <div>Off</div>
                          </button>
                          <div class="creator-mode-description">
                                  Get discovered, showcase content on your profile, and get access to creator tools
                          </div>
                      </div>
                    </div>
                    <div class="my-network">
                      <img class="my-network-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                      <div class="my-network-together">
                        <div class="my-network-text">
                          My network
                        </div>
                        <div class="my-network-description">
                            See and manage your connections and interests.
                        </div>
                      </div>
                    </div>
                    <div class="my-network">
                      <img class="my-network-icon" src="static/linkedin-images/left-part-images/demographic-info-icon.png">
                      <div class="my-network-together">
                        <div class="my-network-text">
                            Personal demographic information
                        </div>
                        <div class="my-network-description">
                            Add or manage your information.
                        </div>
                      </div>
                    </div>
                    <div class="my-network">
                      <img class="my-network-icon" src="static/linkedin-images/left-part-images/activity-icon.png">
                      <div class="my-network-together">
                        <div class="my-network-text">
                          Activity
                        </div>
                        <div class="my-network-description">
                            See what you've shared with your network, such as posts, articles, and comments.                        </div>
                      </div>
                    </div>
                    <div class="my-network">
                      <img class="my-network-icon" src="static/linkedin-images/left-part-images/my-items-icon.png">
                      <div class="my-network-together">
                        <div class="my-network-text">
                          My items
                        </div>
                        <div class="my-network-description">
                            Keep track of your jobs, courses, and articles
                        </div>
                      </div>
                    </div>
                </div>
                <div class="left-part4">
                    <div class="analytics-text">
                        About
                    </div>
                    <div class="about-description">
                        Final-year Mechanical Engineering student with a strong working ethic and enormous enthusiasm towards automotive industry seeking a graduate role.
                    </div>
                </div>
                <div class="left-part5">
                    <div class="activity-and-button">
                        <div class="analytics-text">
                            Activity
                        </div>
                        <button class="start-a-post-button">
                            <div class="start-a-post-text">Start a post</div>
                        </button>
                    </div>
                    <div class="connections1">
                        185 followers
                    </div>
                    <div class="below-activity-title">
                        You haven't posted lately
                    </div>
                    <div class="activity-description">
                        Recent posts you share or comment on will be displayed here
                    </div>
                    <div class="line-between1">
                    </div>
                    <div class="show-all-activity-text">
                        Show all activity 	&#129046;
                    </div>
                </div>
                <div class="left-part6">
                    <div class="analytics-text">
                        Experience
                    </div>
                    <div class="my-network1">
                      <img class="youtube-icon" src="static/linkedin-images/left-part-images/youtube-logo.png">
                      <div class="my-network-together">
                        <div class="youtube-text">
                          Youtube account manager/video editor
                        </div>
                        <div class="my-network-description1">
                            YouTube &#183; Self-employed
                        </div>
                        <div class="youtube-job-duration">
                            Jul 2016 - Present &#183; 6 yrs 6 mos
                        </div>
                        <div class="job-description">
                            Side job to pay off Mechanical Engineering studies - "The BallGame"                        </div>
                      </div>
                    </div>
                    <div class="my-network1">
                      <img class="youtube-icon" src="static/linkedin-images/left-part-images/tech387-icon.png">
                      <div class="my-network-together1">
                        <div class="youtube-text">
                          Python/Flask Backend Developer
                        </div>
                        <div class="my-network-description">
                            Tech387 &#183; Internship
                        </div>
                        <div class="youtube-job-duration">
                            Nov 2022 - Dec 2022 &#183; 2 mos
                        </div>
                        <div class="youtube-job-duration">
                            Sarajevo, Federation of Bosnia and Herzegovina, Bosnia and Herzegovina &#183; Remote
                        </div>
                        <div class="job-description">
                            Tech 387 Product Arena - Python/Flask Backend Developer 2 weeks online training for web-design.
                        </div>
                        <div class="skills-description">
                            <strong>Skills: </strong> Python (Programming Language) &#183; Flask &#183; HTML &#183; Cascading Style Sheets (CSS)
                        </div>
                      </div>
                    </div>
                    <div class="my-network1">
                      <img class="youtube-icon" src="static/linkedin-images/left-part-images/company-logo.png">
                      <div class="my-network-together">
                        <div class="youtube-text">
                          Mechanical Engineer
                        </div>
                        <div class="my-network-description1">
                            TTU energetik d.o.o &#183; Internship
                        </div>
                        <div class="youtube-job-duration">
                            Jul 2022 &#183; 1 mo
                        </div>
                        <div class="youtube-job-duration">
                            Tuzla, Federation of Bosnia and Herzegovina, Bosnia and Herzegovina &#183; On-site
                        </div>
                        <div class="job-description">
                            Creating a sketch of random parts and making 3d models of them in Solidworks with full documentation. Going through the full production process for multiple parts and also learning about different types of standards and regulations that Mechanical engineers need to follow.
                        </div>
                        <div class="skills-description">
                            <strong>Skills: </strong> Technical Documentation &#183; SOLIDWORKS &#183; Computer-Aided Design (CAD)
                        </div>
                      </div>
                    </div>
                    <div class="my-network1">
                      <img class="youtube-icon" src="static/linkedin-images/left-part-images/company-logo.png">
                      <div class="my-network-together">
                        <div class="youtube-text">
                          Assistant To The Mechanical Engineer
                        </div>
                        <div class="my-network-description1">
                            CNC HST Technik
                        </div>
                        <div class="youtube-job-duration">
                            Jun 2016 - Aug 2016 &#183; 3 mos
                        </div>
                        <div class="youtube-job-duration">
                            Gračanica, Federation of Bosnia and Herzegovina, Bosnia and Herzegovina
                        </div>
                        <div class="job-description">
                            Assisting the Mechanical engineer in his ordinary work and gaining much needed experience in that field
                        </div>
                      </div>
                    </div>

                </div>
                <div class="left-part7">
                    <div class="analytics-text">
                        Education
                    </div>
                    <div class="my-network">
                      <img class="youtube-icon1" src="static/linkedin-images/left-part-images/university-logo.png">
                      <div class="my-network-together">
                        <div class="youtube-text1">
                          Univerzitet u Tuzli
                        </div>
                        <div class="my-network-description">
                            Industrial Engineering
                        </div>
                        <div class="youtube-job-duration1">
                            2016-2021
                        </div>
                      </div>
                    </div>
                </div>
                <div class="left-part8">
                    <div class="analytics-text">
                        Licenses & certifications
                    </div>
                    <div class="my-network">
                      <img class="youtube-icon" src="static/linkedin-images/left-part-images/dkr-icon.png">
                      <div class="my-network-together">
                        <div class="youtube-text">
                          ABB Robot Programming Basic
                        </div>
                        <div class="my-network-description1">
                            DKR – German Center for Robotics
                        </div>
                        <div class="youtube-job-duration">
                            Issued Apr 2022 &#183; No Expiration Date
                        </div>
                        <div class="youtube-job-duration">
                            Credential ID 48-ABB/VL-2022
                        </div>
                      </div>
                    </div>
                </div>
                <div class="left-part8">
                    <div class="analytics-text">
                        Volunteering
                    </div>
                    <div class="my-network">
                      <img class="youtube-icon" src="static/linkedin-images/left-part-images/fls-icon.png">
                      <div class="my-network-together">
                        <div class="youtube-text">
                          Student Volunteer
                        </div>
                        <div class="my-network-description">
                            Futures Leaders Summit
                        </div>
                        <div class="youtube-job-duration">
                            Dec 2021 &#183; 1 mo
                        </div>
                        <div class="youtube-job-duration">
                            Science and Technology
                        </div>
                      </div>
                    </div>
                </div>
                <div class="left-part9">
                <div class="activity-and-button">
                    <button class="demonstrate-button">
                        <div class="start-a-post-text">Demonstrate skills</div>
                    </button>
                </div>
                    <div class="expand">
                        <input class="box" type="checkbox" id="trigger"/>
                        <label for="trigger" >Skills</label>
                            <div class="all-text">
                            <div class="below-activity-title1">
                                Engineering
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Research
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                AutoCAD
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                SOLIDWORKS
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                CATIA
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Youtube
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Vegas Pro
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Computer-Aided-Design (CAD)
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                English
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Technical Documentation
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Python (Programming Language)
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Flask
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                HTML
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            <div class="below-activity-title1">
                                Cascading Style Sheet (CSS)
                            </div>
                            <div class="endorsement-row">
                                <img class="endorsement-icon" src="static/linkedin-images/left-part-images/network-icon.png">
                                <div class="endorsement">
                                     1 endorsement
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
        </div>
            <div class="right-part">
                <div class="right-part1">
                    <div class="text-and-question">
                        <div class="edit-public-profile-text">
                        Edit public profile & URL
                        </div>
                        <button class="question-mark">
                            <div class="question-mark-sign">
                                ?
                            </div>
                            <div class="question-mark-text">
                                See and edit how you look to people who are not signed in, and find you through search engines(ex: Google, Bing).
                            </div>
                        </button>
                    </div>
                    <div class="line-between">
                    </div>
                    <div class="text-and-question">
                        <div class="add-profile-in-another-language-text">
                        Add profile in another language
                        </div>
                        <button class="question-mark1">
                            <div class="question-mark-sign1">
                                ?
                            </div>
                            <div class="question-mark-text">
                                Creating a profile in another language makes it easier for local business contacts and recruiters to find you on Linkedin.
                            </div>
                        </button>
                    </div>
                    <div class="right-part2">
                        <div class="ad">
                            Ad
                        </div>
                        <div class="linkedin-premium-text">
                            Emir, unlock your full potential with Linkedin <span>Premium</span>
                        </div>
                        <div class="profile-key-photos">
                            <img class="ad-profile-photo" src="static/linkedin-images/right-part-images/profile-picture.jpg">
                            <img class="ad-key-photo" src="static/linkedin-images/right-part-images/key-logo.png">
                        </div>
                        <div class="profile-views-text">
                            See who's viewed your profile in the last <span>90 days</span>
                        </div>
                        <button class="try-for-free-button">
                            <div class="try-for-free-text">
                                Try for free
                            </div>
                        </button>

                    </div>
                </div>
            </div>


        </div>



    </div>
</body>

