<!doctype html >
<head>
    <title> Linkedin </title>
    <link rel="stylesheet" href="static/linkedin.css">

</head>
<body>
    <div>
        <div class="header">
            <div>
                <img class="linkedin-logo" src="static/linkedin-images/header-images/linkedin-logo.png">
            </div>
            <div>
                <button class="search-button">
                    <img class="search-logo" src="static/linkedin-images/header-images/search-logo.png">
                </button>
            </div>
            <div>
                <input class="search-bar" type="text" placeholder="Search">
            </div>
            <div>
                <button class="home-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/home-logo.png">
                    <p class="home-text">Home</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/my-network-logo.png">
                    <p class="home-text">My Network</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/jobs-logo.png">
                    <p class="home-text">Jobs</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/messaging-logo.jpg">
                    <p class="home-text">Messaging</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/notifications-logo.png">
                    <p class="home-text">Notifications</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="me-logo" src="static/linkedin-images/header-images/me-logo.jfif">
                    <p class="home-text">Me &#x25BC;</p>
                </button>
            </div>
            <div>
                <button class="work-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/work-logo.png">
                    <p class="home-text">Work &#x25BC;</p>
                </button>
            </div>
            <div>
                <button class="work-button">
                    <p class="premium-text">Get hired faster,</p>
                    <p class="premium-text">Try Premium free</p>
                </button>
            </div>


        </div>



    </div>
</body>
