<!doctype html >
<head>
    <title> Linkedin </title>
    <link rel="stylesheet" href="static/linkedin-css/linkedin-header.css">
    <link rel="stylesheet" href="static/linkedin-css/linkedin-left-part.css">
    <link rel="stylesheet" href="static/linkedin-css/linkedin-right-part.css">


</head>
<body>
    <div>
        <div class="header">
            <div>
                <img class="linkedin-logo" src="static/linkedin-images/header-images/linkedin-logo.png">
            </div>
            <div>
                <button class="search-button">
                    <img class="search-logo" src="static/linkedin-images/header-images/search-logo.png">
                </button>
            </div>
            <div>
                <input class="search-bar" type="text" placeholder="Search">
            </div>
            <div>
                <button class="home-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/home-logo.png">
                    <p class="home-text">Home</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/my-network-logo.png">
                    <p class="home-text">My Network</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/jobs-logo.png">
                    <p class="home-text">Jobs</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/messaging-logo.jpg">
                    <p class="home-text">Messaging</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/notifications-logo.png">
                    <p class="home-text">Notifications</p>
                </button>
            </div>
            <div>
                <button class="network-button">
                    <img class="me-logo" src="static/linkedin-images/header-images/me-logo.jfif">
                    <p class="home-text">Me &#x25BC;</p>
                </button>
            </div>
            <div>
                <button class="work-button">
                    <img class="home-logo" src="static/linkedin-images/header-images/work-logo.png">
                    <p class="home-text">Work &#x25BC;</p>
                </button>
            </div>
            <div>
                <button class="work-button">
                    <p class="premium-text">Get hired faster,</p>
                    <p class="premium-text">Try Premium free</p>
                </button>
            </div>


        </div>
        <div class="page">
            <div class="left-part">
                <img class="background-photo" src="static/linkedin-images/left-part-images/background-photo.jfif">
                <img class="profile-photo" src="static/linkedin-images/left-part-images/profile-photo.jfif">
                <div class="name-and-university">
                    <div class="name">
                       Emir Alić
                    </div>
                    <div class="university">
                        <img class="university-photo" src="static/linkedin-images/left-part-images/university-logo.png">
                        <div class="university-name">
                            Univerzitet u Tuzli
                        </div>
                    </div>
                </div>
                <div class="description">
                    Final-year Mechanical Engineering student
                </div>
                <div class="city-adress">
                    Tuzla, Federation of Bosnia and Herzegovina, Bosnia and Herzegovina
                </div>
                <div class="contact-info">
                    Contact info
                </div>
                <div class="connections">
                    182 connections
                </div>
                <div class="three-buttons">
                    <button class="open-to">
                       <div class="open-to-text">
                           Open to
                       </div>
                    </button>
                    <button class="add-profile">
                        <div class="add-profile-text">
                            Add profile section
                        </div>
                    </button>
                    <button class="more-button">
                        <div class="more-text">
                            More
                        </div>
                    </button>
                </div>
                <div class="open-to-work">
                    <div class="open-to-work-text">
                        Open to work
                    </div>
                    <div class="roles-text">
                        Mechanical Engineer and Computer Aided Design Designer roles
                    </div>
                    <div class="details-text">
                        See all details
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="text-and-question">
                    <div class="edit-public-profile-text">
                    Edit public profile & URL
                    </div>
                    <button class="question-mark">
                        <div class="question-mark-text">
                            ?
                        </div>
                    </button>
                </div>
                <div class="line-between">
                </div>
                <div class="text-and-question">
                    <div class="add-profile-in-another-language-text">
                    Add profile in another language
                    </div>
                    <button class="question-mark1">
                        <div class="question-mark-text1">
                            ?
                        </div>
                    </button>
                </div>


            </div>
        </div>



    </div>
</body>

