
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"

{% extends "base.html"%}
{% block content %}

    <div>
        <div class="prijava">
        <form method="POST">
             <div class="prijava-text">PRIJAVA</div>
              <div class="form-group">
                <label class="label-text" for="email">Email Adresa</label>
                <input class="prijava-tab" type="email" id="email" name="email" placeholder="Email adresa">
              </div>
             <div class="form-group">
                <label class="label-text1" for="lozinka">Lozinka</label>
                <input class="prijava-tab" type="password" id="lozinka" name="lozinka" placeholder="Vaša lozinka">
             </div>
             <button class="prijava-button">PRIJAVA</button>
             <div class="nalog">Niste jos registrovani?
                 <a class="uredjivanje-texta" href="/register">Otvorite nalog</a>
             </div>
        </form>
        </div>
    </div>

{% endblock %}


