<link rel="stylesheet" href="{{ url_for('static', filename='useful-links.css') }}">
{% extends "base.html"%}
{% block content %}
<div class="links-title">
    KORISNI LINKOVI ZA SAMOSTALNO UČENJE PROGRAMIRANJA
</div>
<div class="links-columns">
    <div class="expand">
        <input class="box" type="checkbox" id="trigger"/>
        <label for="trigger" style="color: rgb(26, 26, 255);">Osnove programiranja</label>
            <div class="all-text">
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=zOjov-2OZ0E">
                    <img class="images" src="static/useful-links-images/image1.webp">
                    </a>
                    <div class="video-time">1:59:09</div>
                    <div class="video-title">
                    <a href="https://www.youtube.com/watch?v=zOjov-2OZ0E">
                        Introduction to Programming and Computer Science - Full Course
                    </a>
                        <div class="views-and-time">6.2M views &#183; 2 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                                <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                                <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                                <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                                <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=k9WqpQp8VSU">
                    <img class="images" src="static/useful-links-images/image2.webp">
                    </a>
                    <div class="video-time1">13:42</div>
                    <div class="video-title">
                    <a href="https://www.youtube.com/watch?v=k9WqpQp8VSU">
                        How I Would Learn To Code (If I Could Start Over)
                    </a>
                        <div class="views-and-time">4M views &#183; 8 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@namanhkapur">
                            <img class="channel-logo" src="static/useful-links-images/image2-logo.jpg">
                            <div class="channel-name">Namanh Kapur</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=kGYGEcdPE2U">
                    <img class="images" src="static/useful-links-images/image3.webp">
                    </a>
                    <div class="video-time">1:52:34</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=kGYGEcdPE2U">
                            How to Speak the Language of Application Architecture
                        </a>
                        <div class="views-and-time">17k views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=GZvSYJDk-us">
                    <img class="images" src="static/useful-links-images/image4.webp">
                    </a>
                    <div class="video-time">2:19:33</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=GZvSYJDk-us">
                        APIs for Beginners - How to use an API (Full Course / Tutorial)
                        </a>
                        <div class="views-and-time">3.8M views &#183; 3 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger1"/>
        <label for="trigger1" style="color: rgb(26, 26, 255); ">Programski jezik Python</label>
            <div class="all-text">
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=5Jppcxc1Qzc">
                    <img class="images" src="static/useful-links-images/image5.webp">
                    </a>
                    <div class="video-time">2:46:36</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=5Jppcxc1Qzc">
                         CS50 2022 - Lecture 6 - Python
                        </a>
                        <div class="views-and-time">102k views &#183; 2 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@cs50">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.udemy.com/course/100-days-of-code/">
                    <img class="images" src="static/useful-links-images/image6.jpg">
                    </a>
                    <div class="video-time">64:03:00</div>
                    <div class="video-title">
                        <a href="https://www.udemy.com/course/100-days-of-code/">
                        100 Days of Code: The Complete Python Pro Bootcamp for 2023 - Udemy
                        </a>
                        <div class="views-and-time">732,210 students &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.udemy.com/course/100-days-of-code/#instructor-1">
                            <img class="channel-logo" src="static/useful-links-images/image6-logo.jpg">
                            <div class="channel-name">Dr.Angela Yu</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>

                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=rfscVS0vtbw">
                    <img class="images" src="static/useful-links-images/image7.webp">
                    </a>
                    <div class="video-time">4:26:52</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=rfscVS0vtbw">
                        Learn Python - Full Course for Beginners [Tutorial]
                        </a>
                        <div class="views-and-time">38M views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>

                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=kqtD5dpn9C8">
                    <img class="images" src="static/useful-links-images/image8.webp">
                    </a>
                    <div class="video-time">1:00:06</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=kqtD5dpn9C8">
                        Python for Beginners - Learn Python in 1 Hour
                        </a>
                        <div class="views-and-time">8.9M views &#183; 2 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@programmingwithmosh">
                            <img class="channel-logo" src="static/useful-links-images/image8-logo.jpg">
                            <div class="channel-name">Programming with Mosh</div>
                            </a>

                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>

                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=8124kv-632k">
                   <img class="images" src="static/useful-links-images/image9.webp">
                   </a>
                    <div class="video-time">2:52:13</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=8124kv-632k">
                        Python Tutorial for Beginners
                        </a>
                        <div class="views-and-time">244k views &#183; 9 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>

            </div>

    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger2"/>
        <label for="trigger2" style="color: rgb(26, 26, 255);" >Framework Flask</label>
            <div class="all-text">
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=Qr4QMBUPxWo">
                   <img class="images" src="static/useful-links-images/image10.webp">
                   </a>
                   <div class="video-time">6:21:04</div>
                   <div class="video-title">
                       <a href="https://www.youtube.com/watch?v=Qr4QMBUPxWo">
                       Flask Course - Python Web Application Development
                       </a>
                        <div class="views-and-time">721k views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=oVA0fD13NGI">
                    <img class="images" src="static/useful-links-images/image11.webp">
                    </a>
                    <div class="video-time">2:49:14</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=oVA0fD13NGI">
                        CS50 2022 - Lecture 9 - Flask
                        </a>

                        <div class="views-and-time">94k views &#183; 1 month ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@cs50">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=Z1RJmh_OqeA">
                   <img class="images" src="static/useful-links-images/image12.webp">
                   </a>
                   <div class="video-time1">46:59</div>
                   <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=Z1RJmh_OqeA">
                        Learn Flask for Python - Full Tutorial
                        </a>
                        <div class="views-and-time">1.2M views &#183; 3 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=dam0GPOAvVI">
                   <img class="images" src="static/useful-links-images/image13.webp">
                   </a>
                   <div class="video-time">2:16:40</div>
                   <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=dam0GPOAvVI">
                        Python Website Full Tutorial - Flask, Authentication, Databases & More
                        </a>
                        <div class="views-and-time">1.7M views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@TechWithTim">
                            <img class="channel-logo" src="static/useful-links-images/image13-logo.jpg">
                            <div class="channel-name">Tech With Tim</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo">
                   <img class="images" src="static/useful-links-images/image14.webp">
                   </a>
                   <div class="video-time1">17:09</div>
                   <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo">
                        Python Flask Tutorial: Full-Featured Web App Part 1 - Getting Started
                        </a>
                        <div class="views-and-time">1.5M views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@coreyms">
                            <img class="channel-logo" src="static/useful-links-images/image14-logo.jpg">
                            <div class="channel-name">Corey Schafer</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
            </div>
    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger3"/>
        <label for="trigger3" style="color: rgb(26, 26, 255);" >HTML</label>
            <div class="all-text">
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc">
                    <img class="images" src="static/useful-links-images/image15.webp">
                    </a>
                    <div class="video-time">6:31:24</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc">
                        HTML & CSS Full Course - Beginner to Pro (2022)
                        </a>
                        <div class="views-and-time">2.8M views &#183; 10 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@SuperSimpleDev">
                            <img class="channel-logo" src="static/useful-links-images/image15-logo.jpg">
                            <div class="channel-name">SuperSimpleDev</div>
                            </a>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=qz0aGYrrlhU">
                   <img class="images" src="static/useful-links-images/image16.webp">
                   </a>
                   <div class="video-time">1:09:34</div>
                   <div class="video-title">
                       <a href="https://www.youtube.com/watch?v=qz0aGYrrlhU">
                           HTML Tutorial for Beginners: HTML Crash Course
                       </a>
                        <div class="views-and-time">5.4M views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@programmingwithmosh">
                            <img class="channel-logo" src="static/useful-links-images/image13-logo.jpg">
                            <div class="channel-name">Programming with Mosh</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=alnzFK-4xMY">
                   <img class="images" src="static/useful-links-images/image17.webp">
                   </a>
                   <div class="video-time">2:43:40</div>
                   <div class="video-title">
                       <a href="https://www.youtube.com/watch?v=alnzFK-4xMY">
                       CS50 2022 - Lecture 8 - HTML, CSS, JavaScript
                       </a>
                        <div class="views-and-time">96k views &#183; 2 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@cs50">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=zFZrkCIc2Oc">
                   <img class="images" src="static/useful-links-images/image18.webp">
                   </a>
                   <div class="video-time">2:03:32</div>
                   <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=zFZrkCIc2Oc">
                        CS50W - Lecture 0 - HTML and CSS
                        </a>
                        <div class="views-and-time">739k views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@cs50">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=pQN-pnXPaVg">
                   <img class="images" src="static/useful-links-images/image19.webp">
                   </a>
                   <div class="video-time">2:02:32</div>
                   <div class="video-title">
                       <a href="https://www.youtube.com/watch?v=pQN-pnXPaVg">
                       HTML Full Course - Build a Website Tutorial
                       </a>
                       <div class="views-and-time">6.5M views &#183; 4 years ago</div>
                       <div class="channel-name-photo">
                           <a href="https://www.youtube.com/@freecodecamp">
                           <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                           <div class="channel-name">freeCodeCamp.org</div>
                           </a>
                           <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                           <div class="verified-text">Verified</div>
                       </div>
                    </div>
               </div>
            </div>
    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger4"/>
        <label for="trigger4" style="color: rgb(26, 26, 255);">CSS</label>
            <div class="all-text">
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc">
                    <img class="images" src="static/useful-links-images/image15.webp">
                    </a>
                    <div class="video-time">6:31:24</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc">
                        HTML & CSS Full Course - Beginner to Pro (2022)
                        </a>
                        <div class="views-and-time">2.8M views &#183; 10 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@SuperSimpleDev">
                            <img class="channel-logo" src="static/useful-links-images/image15-logo.jpg">
                            <div class="channel-name">SuperSimpleDev</div>
                            </a>
                            </div>
                        </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=1Rs2ND1ryYc">
                    <img class="images" src="static/useful-links-images/image21.webp">
                    </a>
                    <div class="video-time">6:18:38</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=1Rs2ND1ryYc">
                        CSS Tutorial - Zero to Hero (Complete Course)
                        </a>
                        <div class="views-and-time">2.9M views &#183; 3 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=alnzFK-4xMY">
                   <img class="images" src="static/useful-links-images/image17.webp">
                   </a>
                   <div class="video-time">2:43:40</div>
                   <div class="video-title">
                       <a href="https://www.youtube.com/watch?v=alnzFK-4xMY">
                       CS50 2022 - Lecture 8 - HTML, CSS, JavaScript
                       </a>
                        <div class="views-and-time">96k views &#183; 2 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@cs50">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=zFZrkCIc2Oc">
                   <img class="images" src="static/useful-links-images/image18.webp">
                   </a>
                   <div class="video-time">2:03:32</div>
                   <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=zFZrkCIc2Oc">
                        CS50W - Lecture 0 - HTML and CSS
                        </a>
                        <div class="views-and-time">739k views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@cs50">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <a href="https://www.youtube.com/watch?v=ieTHC78giGQ">
                   <img class="images" src="static/useful-links-images/image19.webp">
                   </a>
                   <div class="video-time">1:25:39</div>
                   <div class="video-title">
                       <a href="https://www.youtube.com/watch?v=ieTHC78giGQ">
                       CSS Full Course - Includes Flexbox and CSS Grid Tutorials
                       </a>
                       <div class="views-and-time">822k views &#183; 4 years ago</div>
                       <div class="channel-name-photo">
                           <a href="https://www.youtube.com/@freecodecamp">
                           <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                           <div class="channel-name">freeCodeCamp.org</div>
                           </a>
                           <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                           <div class="verified-text">Verified</div>
                       </div>
                    </div>
                </div>
            </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger5"/>
        <label for="trigger5" style="color: rgb(26, 26, 255);" >Git &#38; GitHub</label>
            <div class="all-text">
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=RGOj5yH7evk">
                    <img class="images" src="static/useful-links-images/image22.webp">
                    </a>
                    <div class="video-time">1:08:30</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=RGOj5yH7evk">
                        Git and GitHub for Beginners - Crash Course
                        </a>
                        <div class="views-and-time">2.7M views &#183; 2 years ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@freecodecamp">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            </a>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <a href="https://www.youtube.com/watch?v=tRZGeaHPoaw">
                    <img class="images" src="static/useful-links-images/image23.webp">
                    </a>
                    <div class="video-time1">46:19</div>
                    <div class="video-title">
                        <a href="https://www.youtube.com/watch?v=tRZGeaHPoaw">
                        Git and GitHub for Beginners Tutorial
                        </a>
                        <div class="views-and-time">189k views &#183; 6 months ago</div>
                        <div class="channel-name-photo">
                            <a href="https://www.youtube.com/@KevinStratvert">
                            <img class="channel-logo" src="static/useful-links-images/image23-logo.jpg">
                            <div class="channel-name">Kevin Stratvert</div>
                            </a>
                            <img class="verified-icon1" src="static/useful-links-images/verified-icon.png">
                            <div class="verified-text">Verified</div>
                        </div>
                    </div>
                </div>
    </div>

</div>






{% endblock %}