<link rel="stylesheet" href="{{ url_for('static', filename='useful-links.css') }}">
{% extends "base.html"%}
{% block content %}
<div class="links-title">
    KORISNI LINKOVI ZA SAMOSTALNO UČENJE PROGRAMIRANJA
</div>
<div class="links-columns">
    <div class="expand">
        <input class="box" type="checkbox" id="trigger"/>
        <label for="trigger" style="text-decoration:underline; text-decoration-color:gray; text-decoration-thickness: 1px;">Osnove programiranja</label>
            <div class="all-text">
                <div class="inside-box">
                    <img class="images" src="static/useful-links-images/image1.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        Introduction to Programming and Computer Science - Full Course
                        <div class="views-and-time">6.2M views &#183; 2 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <img class="images" src="static/useful-links-images/image2.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        How I Would Learn To Code (If I Could Start Over)
                        <div class="views-and-time">4M views &#183; 8 months ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image2-logo.jpg">
                            <div class="channel-name">Namanh Kapur</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <img class="images" src="static/useful-links-images/image3.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        How to Speak the Language of Application Architecture
                        <div class="views-and-time">17k views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                    <img class="images" src="static/useful-links-images/image4.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        APIs for Beginners - How to use an API (Full Course / Tutorial)
                        <div class="views-and-time">3.8M views &#183; 3 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
            </div>
    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger1"/>
        <label for="trigger1" style="text-decoration:underline; text-decoration-color:gray; text-decoration-thickness: 1px;">Programski jezik Python</label>
            <div class="all-text">
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image5.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        CS50 2022 - Lecture 6 - Python
                        <div class="views-and-time">102k views &#183; 2 months ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image6.jpg">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        100 Days of Code: The Complete Python Pro Bootcamp for 2023 - Udemy
                        <div class="views-and-time">732,210 students &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image6-logo.jpg">
                            <div class="channel-name">Dr.Angela Yu</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image7.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        Learn Python - Full Course for Beginners [Tutorial]
                        <div class="views-and-time">38M views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image8.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        Python for Beginners - Learn Python in 1 Hour
                        <div class="views-and-time">8.9M views &#183; 2 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image8-logo.jpg">
                            <div class="channel-name">Programming with Mosh</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image9.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        Python Tutorial for Beginners
                        <div class="views-and-time">244k views &#183; 9 months ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>

            </div>

    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger2"/>
        <label for="trigger2" style="text-decoration:underline; text-decoration-color:gray; text-decoration-thickness: 1px;" >Framework Flask</label>
            <div class="all-text">
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image10.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        Flask Course - Python Web Application Development
                        <div class="views-and-time">721k views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image11.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        CS50 2022 - Lecture 9 - Flask
                        <div class="views-and-time">94k views &#183; 1 month ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image12.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        Learn Flask for Python - Full Tutorial
                        <div class="views-and-time">1.2M views &#183; 3 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image13.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        Python Website Full Tutorial - Flask, Authentication, Databases & More
                        <div class="views-and-time">1.7M views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image13-logo.jpg">
                            <div class="channel-name">Tech With Tim</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image14.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        Python Flask Tutorial: Full-Featured Web App Part 1 - Getting Started
                        <div class="views-and-time">1.5M views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image14-logo.jpg">
                            <div class="channel-name">Corey Schafer</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
            </div>
    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger3"/>
        <label for="trigger3" style="text-decoration:underline; text-decoration-color:gray; text-decoration-thickness: 1px;" >HTML</label>
            <div class="all-text">
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image15.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        HTML & CSS Full Course - Beginner to Pro (2022)
                        <div class="views-and-time">2.8M views &#183; 10 months ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image15-logo.jpg">
                            <div class="channel-name">SuperSimpleDev</div>
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image16.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        HTML Tutorial for Beginners: HTML Crash Course
                        <div class="views-and-time">5.4M views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image13-logo.jpg">
                            <div class="channel-name">Tech With Tim</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image17.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        CS50 2022 - Lecture 8 - HTML, CSS, JavaScript
                        <div class="views-and-time">96k views &#183; 2 months ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image18.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        CS50W - Lecture 0 - HTML and CSS
                        <div class="views-and-time">739k views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image19.webp">
                   <div class="video-time">1:23</div>
                   <div class="video-title">
                        HTML Full Course - Build a Website Tutorial
                        <div class="views-and-time">6.5M views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
            </div>
    </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger4"/>
        <label for="trigger4" style="text-decoration:underline; text-decoration-color:gray; text-decoration-thickness: 1px;">CSS</label>
            <div class="all-text">
                <div class="inside-box">
                    <img class="images" src="static/useful-links-images/image15.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                            HTML & CSS Full Course - Beginner to Pro (2022)
                            <div class="views-and-time">2.8M views &#183; 10 months ago</div>
                            <div class="channel-name-photo">
                                <img class="channel-logo" src="static/useful-links-images/image15-logo.jpg">
                                <div class="channel-name">SuperSimpleDev</div>
                            </div>
                        </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image19.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        CSS Tutorial - Zero to Hero (Complete Course)
                        <div class="views-and-time">2.9M views &#183; 3 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image17.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        CS50 2022 - Lecture 8 - HTML, CSS, JavaScript
                        <div class="views-and-time">96k views &#183; 2 months ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image18.webp">
                   <div class="video-time">1:23</div>
                    <div class="video-title">
                        CS50W - Lecture 0 - HTML and CSS
                        <div class="views-and-time">739k views &#183; 1 year ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image5-logo.jpg">
                            <div class="channel-name">CS50</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
               </div>
               <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image19.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        CSS Full Course - Includes Flexbox and CSS Grid Tutorials
                        <div class="views-and-time">822k views &#183; 4 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
            </div>
     <div class="expand">
        <input class="box" type="checkbox" id="trigger5"/>
        <label for="trigger5" style="text-decoration:underline; text-decoration-color:gray; text-decoration-thickness: 1px;" >Git &#38; GitHub</label>
            <div class="all-text">
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image22.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        Git and GitHub for Beginners - Crash Course
                        <div class="views-and-time">2.7M views &#183; 2 years ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image1-logo.jpg">
                            <div class="channel-name">freeCodeCamp.org</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
                <div class="inside-box">
                   <img class="images" src="static/useful-links-images/image23.webp">
                    <div class="video-time">1:23</div>
                    <div class="video-title">
                        Git and GitHub for Beginners Tutorial
                        <div class="views-and-time">189k views &#183; 6 months ago</div>
                        <div class="channel-name-photo">
                            <img class="channel-logo" src="static/useful-links-images/image23-logo.jpg">
                            <div class="channel-name">Kevin Stratvert</div>
                            <img class="verified-icon" src="static/useful-links-images/verified-icon.png">
                        </div>
                    </div>
                </div>
    </div>

</div>






{% endblock %}

