<!DOCTYPE html>
<html lang="en">
<head>
    <title>Youtube</title>


    <link rel="stylesheet" href="static/youtube-css/header.css">
    <link rel="stylesheet" href="static/youtube-css/popular-videos-row.css">
    <link rel="stylesheet" href="static/youtube-css/thumbnail-video.css">
    <link rel="stylesheet" href="static/youtube-css/home-videos-shorts.css">
    <link rel="stylesheet" href="static/youtube-css/picture-and-subs.css">
    <link rel="stylesheet" href="static/youtube-css/left-side.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body style="margin:0px;
             padding-bottom: 1000px;">
    <div class="page-left-side">
        <div class="first-column">
            <a class="underline" href="https://www.youtube.com">
            <button class="home-button">
                <img class="home-image" src="static/youtube-images/left-side-icons/home.svg">
                <p class="home-text">Home</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/shorts">
            <button class="home-button">
                <img class="home-image" src="static/youtube-images/left-side-icons/youtube-shorts.svg">
                <p class="home-text">Shorts</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/feed/subscriptions">
            <button class="home-button">
                <img class="home-image" src="static/youtube-images/left-side-icons/subscriptions.svg">
                <p class="home-text">Subscriptions</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/feed/library">
            <button class="library-button">
                <img class="home-image" src="static/youtube-images/left-side-icons/library.svg">
                <p class="home-text">Library</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/feed/history">
            <button class="home-button">
                <img class="history-image" src="static/youtube-images/left-side-icons/youtube-history.svg">
                <p class="history-text">History</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://studio.youtube.com/">
            <button class="home-button">
                <img class="your-videos-image" src="static/youtube-images/left-side-icons/your-videos.jpg">
                <p class="your-videos-text">Your videos</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/feed/storefront">
            <button class="home-button">
                <img class="movies-image" src="static/youtube-images/left-side-icons/your-movies.png">
                <p class="your-movies-text">Your movies</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/playlist">
            <button class="home-button">
                <img class="watch-later-image" src="static/youtube-images/left-side-icons/watch-later.png">
                <p class="watch-later-text">Watch later</p>
            </button>
            </a>
        </div>
        <div>
            <button class="home-button">
                <img class="home-image" src="static/youtube-images/left-side-icons/down.svg">
                <p class="home-text">Show more</p>
            </button>
        </div>
        <div>
                <p class="subs-text">Subscriptions</p>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/music">
            <button class="home-button">
                <img class="music-image" src="static/youtube-images/left-side-icons/youtube-music.jpg">
                <p class="music-text">Music</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/sports">
            <button class="home-button">
                <img class="music-image" src="static/youtube-images/left-side-icons/sports.jpg">
                <p class="music-text">Sports</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/gaming">
            <button class="home-button">
                <img class="music-image" src="static/youtube-images/left-side-icons/gaming.jpg">
                <p class="music-text">Gaming</p>
            </button>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/movies">
            <button class="home-button">
                <img class="music-image" src="static/youtube-images/left-side-icons/movies.jpg">
                <p class="music-text">Movies</p>
            </button>
            </a>
        </div>
        <div>
                <p class="subs-text">Explore</p>
        </div>

    </div>
    <div class="header">
            <div style="background-color: white;">
                <button class="hamburger-button">
                    <img class="hamburger-menu" src="static/youtube-images/header-icons/hamburger-menu.svg">
                </button>

            </div>
            <div>
                <a href="https://www.youtube.com/c/theballgame">
                <img class="youtube-logo" src="static/youtube-images/header-icons/youtube-logo.svg">
                </a>
            </div>
            <div>
                <input class="search-bar" type="text" placeholder="Search">
            </div>
            <div>
                <button class="search-button">
                    <img class="search-image" src="static/youtube-images/header-icons/search.svg">
                    <div class="search-black-text">
                        Search
                    </div>
                </button>
            </div>
            <div>
                <button class="speaker-button">
                    <img class="speaker-icon" src="static/youtube-images/header-icons/voice-search-icon.svg">
                    <div class="voice-black-text">
                        Search with your voice
                    </div>
                </button>
            </div>
            <div>
                <img class="upload-icon" src="static/youtube-images/header-icons/upload.svg">

            </div>
            <div>
                <img class="notification-icon" src="static/youtube-images/header-icons/notifications.svg">
            </div>
            <div>
                <img class="right-profile-picture" src="static/youtube-images/header-icons/profile-picture.jpg">
            </div>

    </div>
    <div class="middle">
      <div class="picture">
          <div>
              <img class="profile-picture" src="static/youtube-images/profile-picture/channels-profile.jpg">
          </div>
          <div class="picture-column">
              <p class="the-ball-game">
                  The BallGame
              </p>
              <div>
                  <p class="small-ball-game">
                      @TheBallGame
                  </p>
              </div>
              <div>
                  <p class="subscribers">
                      48.1K subscribers
                  </p>
              </div>

          </div>
          <div>
              <button class="customize-channel">
                  Customize channel
              </button>
          </div>
          <div>
              <button class="manage-videos">
                  Manage videos
              </button>
          </div>
      </div>
      <div class="home-videos-shorts">
        <div>
            <a class="underline" href="https://www.youtube.com/c/theballgame">
            <p class="home">HOME</p>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/@TheBallGame/videos">
            <p class="home">VIDEOS</p>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/@TheBallGame/shorts">
            <p class="home">SHORTS</p>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/@TheBallGame/playlists">
            <p class="home">PLAYLISTS</p>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/@TheBallGame/community">
            <p class="home">COMMUNITY</p>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/@TheBallGame/channels">
            <p class="home">CHANNELS</p>
            </a>
        </div>
        <div>
            <a class="underline" href="https://www.youtube.com/@TheBallGame/about">
            <p class="home">ABOUT</p>
            </a>
        </div>
        <div>
            <img class="search" src="static/youtube-images/header-icons/search.svg">
        </div>


      </div>
      <div class="video-title-description">
        <div>
          <img class="thumbnail" src="static/youtube-images/thumbnail/thumbnail.webp">
            <a class="underline" href="https://www.youtube.com/watch?v=IiEzjbbB7_8">
            <div class="text-on-thumbnail">
                Robert Williams III of Boston Celtics IS FULLY BACK & PREPARED To Make
            </div>
            <div>
                <img class="youtube-button-thumbnail" src="static/youtube-images/thumbnail/youtube-button-thumbnail.png">
            </div>
            </a>
        </div>
        <div class="text">
          <a class="underline" href="https://www.youtube.com/watch?v=IiEzjbbB7_8">
          <p class="full-name">Robert Williams III of Boston Celtics IS FULLY BACK & PREPARED To Make His NBA Debut This Season
          </p>
          </a>
            <div>
                <p class="views">
                    3,036 views &#183; 12 days ago
                </p>
            </div>
            <div>
                <p class="description">
                    Boston Celtics' center Robert Williams is back and fully prepared
                     to make his NBA debut this season after knee injury!
                </p>
            </div>
            <div>
                <p class="description_1">
                    Leave a like on a video and subscribe to the channel for more
                    NBA videos!
                </p>
            </div>
            <div>
                <p class="description_2">
                    #nba #bostonceltics #basketball #nba2k23 #jaysontatum #lebronjames #stephencurry #kyrieirving
                </p>
            </div>
            <div>
                <a class="underline" href="https://www.youtube.com/watch?v=IiEzjbbB7_8">
                <p class="read-more">
                    READ MORE
                </p>
                </a>
            </div>

        </div>

      </div>
      <div class="popular-videos-text-row">
          <div class="popular-videos-text">
              <a class="underline" href="https://www.youtube.com/@TheBallGame/videos?view=0&sort=p&shelf_id=0">
              <p class="over-videos">
                  Popular videos
              </p>
              </a>
              <div>
                      <img class="play" src="static/youtube-images/popular-videos-thumbnails/play.png">
              </div>
              <div>
                  <a class="underline" href="https://www.youtube.com/watch?v=a0y13k6_dU8&list=UULPk3furvO93kRcIWm4mo-kkg">
                      <p class="play-all">
                        Play all
                      </p>
                  </a>
              </div>
          </div>
          <div class="popular-videos-row">
              <div class="popular-videos-titles">
                  <a class="underline" href="https://www.youtube.com/watch?v=a0y13k6_dU8">
                  <img class="img-pictures" src="static/youtube-images/popular-videos-thumbnails/picture1.webp">
                  <div class="video-time">
                      7:48
                  </div>

                  <p class="titles">
                      THINK YOU COULD PLAY AGAINST KYRIE IRVING?
                      WATCH HIM PLAY AGAINST RANDOM PEOPLE, FANS(MUST WATCH)
                  </p>

                  <p class="views-videos">
                      14M views &#183; 6 years ago
                  </p>
                  </a>
              </div>
              <div class="popular-videos-titles">
                  <a class="underline" href="https://www.youtube.com/watch?v=L3r6URIyFgo">
                  <img class="img-pictures" src="static/youtube-images/popular-videos-thumbnails/picture2.webp">
                      <div class="video-time">
                      8:04
                      </div>
                  <p class="titles">
                      Kyrie Irving - BEST PRACTICE MOMENTS(1on1, Breaking Ankles, Funny)
                  </p>
                  <p class="views-videos">
                      4M views &#183; 5 years ago
                  </p>
                  </a>
              </div>
              <div class="popular-videos-titles">
                  <a class="underline" href="https://www.youtube.com/watch?v=DZGIuVcblG4">
                  <img class="img-pictures" src="static/youtube-images/popular-videos-thumbnails/picture3.webp">
                      <div class="video-time">
                      6:04
                      </div>
                  <p class="titles">
                      Nate Robinson and Shaq - FUNNIEST MOMENTS
                  </p>
                  <p class="views-videos">
                      3.4M views &#183; 5 years ago
                  </p>
                  </a>
              </div>
              <div class="popular-videos-titles">
                  <a class="underline" href="https://www.youtube.com/watch?v=50_MYpDIYiw">
                  <img class="img-pictures" src="static/youtube-images/popular-videos-thumbnails/picture4.webp">
                      <div class="video-time">
                      6:02
                      </div>
                  <p class="titles">
                      NBA Players vs Random People, Fans, Trash Talkers(UNSEEN)
                  </p>
                  <p class="views-videos">
                      2.8M views &#183; 4 years ago
                  </p>
                  </a>
              </div>
              <div class="popular-videos-titles">
                  <a class="underline" href="https://www.youtube.com/watch?v=NsblkcJIdN8">
                  <img class="img-pictures" src="static/youtube-images/popular-videos-thumbnails/picture5.webp">
                      <div class="video-time">
                      8:51
                      </div>
                  <p class="titles">
                      LeBron James, Russell Westbrook, Carmelo Anthony & Dwight Howard First Practice For New NBA Season
                  </p>
                  <p class="views-videos">
                      758K views &#183; 1 year ago
                  </p>
                  </a>
              </div>

          </div>

      </div>
    </div>



</body>
</html>