@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.back-image{
   height: 100%;
   width: 100%;
   position: relative;
   height: calc(100vh - 80px);


    }
#here {
  display: block;
  position: relative;
  overflow:hidden;
  margin: -30px 0 0 -30px;
}


#here:before{
  content:'@';
  color:transparent;
  transition:linear 1s;
  animation:chng 1s linear infinite;
}


@keyframes chng{
  0% {
    content: '@';
  }
  20% {
    content: '!';
  }
  30% {
    content: '#';
  }
  40% {
    content: '%';
  }
  50% {
    content: '^';
  }
  60% {
    content: '&';
  }
  70% {
    content: '*';
  }
  80% {
    content: '(';
  }
  90% {
    content: ')';
  }
  100% {
    content: '@';
  }
}
.welcome,
.welcome-description,
.welcome1,
.welcome-description1{
    font-family: Roboto, Arial;
    font-size: 45px;
    color: white;
    padding: 80px 0 0 590px;
    position: absolute;
    z-index: 100;
    -webkit-text-fill-color: black;
  -webkit-text-stroke: 0.5px;
}
.welcome-description,
.welcome-description1{
    padding: 200px 0 0 484px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.7;
    width: 1020px;
  -webkit-text-fill-color: rgb(179, 0, 0);
  -webkit-text-stroke: 1px;

}
.welcome1{
    padding: 150px 0 0 400px;
}
.welcome-description1{
    padding: 250px 0 0 450px;
    width: 1100px;
}