@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
}
.menu{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 77, 77);

}

.middle-part-menu{
    position: absolute;
    margin-left: 723px;

}
.left-part-menu{
    position: relative;
    margin-right: auto;
    z:index: 100;
}
.right-part-menu{
    align-items: right;
    margin-left: auto;
}
.logo{
    height: 90px;
    border-radius: 48px;
    align-items: center;


}


.left-part-menu a,
.right-part-menu a{
    display: flex;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}


.left-part-menu a:hover,
.right-part-menu a:hover{
    background: rgb(255, 128, 128);
    color: black;
    border-radius: 50px;
}
.left-part-menu ul,
.right-part-menu ul{
    list-style: none;
    display: flex;
}
.left-part-menu ul li{
    position: relative;
    width: 100%;
    text-align: center;
}
.left-part-menu li:hover .dropdown li{
    top:0;
    display:block;
    width: 200px;

}
.left-part-menu ul li a,
.right-part-menu ul li a{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.dropdown li{
    display: none;
    position: relative;
    align-items: center;
}
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(255, 77, 77);
    align-items: center;
    padding: 0 30px 0 30px;
}
.dropdown li:hover{
    background-color: rgb(255, 128, 128);
    color: black;
}
.logout-icon{
    width: 15px;
    height: 15px;
    margin: -58px 0 0 1470px;
    background-color: rgb(255, 77, 77);

}
.logout-button{
    border: none;
    position: relative;
}
